<p id="notice"><%= notice %></p>

<h1>Listing Sdad Objs</h1>

<table>
  <thead>
    <tr>
      <th>Published</th>
      <th>Archived</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sdad_objs.each do |sdad_obj| %>
      <tr>
        <td><%= sdad_obj.published %></td>
        <td><%= sdad_obj.archived %></td>
        <td><%= link_to 'Show', sdad_obj %></td>
        <td><%= link_to 'Edit', edit_sdad_obj_path(sdad_obj) %></td>
        <td><%= link_to 'Destroy', sdad_obj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sdad obj', new_sdad_obj_path %>
